{{ define "main" }}

<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2>{{ .Title | markdownify }}</h2>
        <div class="content mb-4">
          {{ .Content }}
        </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-sm pb-0">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="content mb-4">
          {{ range .Params.Categories }}
          {{ if in . "IMP" }}<div class="text-primary"><b>{{substr . 6| title }}</b></div>
          {{ else if in . "LINK"}}<div class="text-primary"><a href="{{substr . 7}}" target="_blank">{{substr . 7 }}</a></div>
          {{ else }}<div class="text-primary">{{ . | title }}</div>
          {{ end }}
          {{ end }}
        </div>
      </div>  
    </div>
  </div>
</section>

{{ end }}