
<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Profile</title>
<style>
  body {
    font-family: arial, verdana, sans-serif;
    font-size: 10pt;
    margin: 0px;
    padding: 0px;
  }

  #container {
    width: 800px;
    margin: 0px auto 0px auto;
  }

  #content {
    padding-bottom: 50px;
  }

  .title { 
    font-size: xx-large; font-weight: bold; 
  }

  .left_heading {
    font-weight: bold;
  }  
</style>
</head>

<body>
<div id="container">

<table width="800" border="0" style="float:left" id="content">
  <tr>
    <td valign="top">
      <p class="title"><a href="https://shourya.io" style="text-decoration: none; color: inherit;">Shourya Lala</a></p>

      <!-- EMPLOYMENT -->
      <table width="100%" border="0">
        <tr>
          <td width="90" valign="top" class="left_heading">Employment<a name="employment" id="employment"></a></td>
          <td width="500" valign="top"><strong><a href="https://www.fello.in/">Fello (YC-W22)</a></strong><br /><i>Cofounder & CTO</i></td>
          <td width="200" valign="top"><div align="right"><em>Bengaluru, IN<br />November 2020  &ndash; February 2024</em></div></td>
        </tr>
      </table>
      <table width="100%" border="0">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="694">
	    <p>Fello is a game based investments and banking application that drives better financial habits for the youth of India.</p>
      <p>Founded the company and scaled it to over 2 million users with 100k average daily sessions and processing
        over $3 million in annual investments across various financial assets.</p>
      <p>Architected and developed a backend stack that managed over 16000 RPM at an average P99 of 130 ms. Developed a cross-platform asset rich frontend stack that averaged 60 FPS at &lt;0.002% crash rate.</p>
      <p>Single handedly built complex DevSecOps workflows, financial orchestrations and security protocols that allowed us to securely manage $100k+ weekly investments with thorough KYC verifications and stakeholder reporting.</p> 
        <p> Lead tech, product, financial operations and recruiting representing a 20 member team and secured funding of over
        $4.5 mn from leading global investors like Courtside Ventures, Goodwater Capital, Y Combinator and many others.</p>
          </td>
        </tr>
      </table>

      <table width="100%" border="0">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="450" valign="top"><a href="https://www.blackrock.com/corporate/about-us"><strong>BlackRock</strong></a><br /><i>Senior Software Engineer</i></td>
          <td width="250" valign="top"><div align="right"><em>Delhi, IN<br /> January 2018 &ndash; August 2020</em></div></td>
        </tr>
      </table>
      <table width="100%" border="0">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="694">
            <p>BlackRock is the world’s largest asset manager where I worked on the Aladdin Client Invoicing solution.</p>
            <p>Developed crucial modules for creating flexible invoicing solutions leveraging Spring IoC for container
              management and DAO patterns for data modeling.</p>
            <p>Built frontend client dashboards using Angular framework following MVC patterns that supported multiple use cases.</p>
            <p>Oversaw the migration of 2300 global institutional clients from an external invoicing provider to Aladdin which
              summed to over $150mn+ in transfer records.</p>
          </td>
        </tr>
      </table>


      <!-- Ventures AND PROJECTS -->
      <table width="100%" border="0">
        <tr>
          <td width="90" valign="top" class="left_heading">Ventures and Projects<a name="projects" id="projects"></a></td>
          <td width="450" valign="top"><strong><a href="https://shourya.io/posts/retail-pos">Retail POS</a></strong></td>
          <td width="250" valign="top"><div align="right"><em>August 2020</em></div></td>
        </tr>
      </table>
      <table width="100%" border="0" style="margin-top: -7mm;">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="694"><p>A mobile app that enabled any smartphone to operate as a billing POS machine. It used a locally run CNN model that could identify grocery items and quantities. This allowed informal merchants to track sales, inventory and invoice products without a computer or barcode scanners. Currently used by select merchants.</p>
          </td>
        </tr>
      </table>

      <table width="100%" border="0">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="500" valign="top"><strong><a href="https://github.com/shouryalala/ria_client_app">CRYB</a></strong></td>
          <td width="188" valign="top"><div align="right"><em>March 2019</em></div></td>
        </tr>
      </table>
      <table width="100%" border="0" style="margin-top: -3mm;">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="694"><p>A hyperlocal service for home assistance, CRYB connected residents of India to informal workers for daily household chores. The core USP was a universal SDK that enabled illiterate workers to use online services on their basic feature phones simply using voice. Tech was later acquired by a private party.</p>
          </td>
        </tr>
      </table>

      <table width="100%" border="0">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="500" valign="top"><strong><a href="https://shourya.io/posts/periferi">Periferi</a></strong></td>
          <td width="188" valign="top"><div align="right"><em>May 2017</em></div></td>
        </tr>
      </table>
      <table width="100%" border="0" style="margin-top: -3mm;">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="694"><p>Periferi was a location based social networking platform intended to connect people in the same geography and act as a bulletin for local updates. It became a popular application in a number of colleges in India and reached over 10,000 users organically.</p>
          </td>
        </tr>
      </table>

      <table width="100%" border="0">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="500" valign="top"><strong><a href="https://github.com/shouryalala/Pepperspray">Pepperspray</a></strong></td>
          <td width="188" valign="top"><div align="right"><em>August 2016</em></div></td>
        </tr>
      </table>
      <table width="100%" border="0" style="margin-top: -3mm;">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="694"><p>A women's safety application that used speech-to-text and sentiment analysis to identify when someone might be in danger and notify emergency contacts without requiring the user to interact with their phone or the app. Was featured in local media.</p>
          </td>
        </tr>
      </table>

       <!-- Honors and Recognitions -->
       <table width="100%" border="0">
        <tr>
          <td width="90" valign="top" class="left_heading">Recognitions<a name="projects" id="projects"></a></td>
          <td width="450" valign="top"><strong><a href="https://www.ycombinator.com/companies/fello">YCombinator</a></strong></td>
          <td width="250" valign="top"><div align="right"><em>November 2021 - April 2022</em></div></td>
        </tr>
      </table>
      <table width="100%" border="0" style="margin-top: -3mm;">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="694"><p>Was selected to be a part of the W22 batch of YCombinator, the world's leading startup accelerator with &lt;2% acceptance rate and home to renowned companies including AirBnb, Reddit, Dropbox etc</p>
          </td>
        </tr>
      </table>

      <table width="100%" border="0">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="500" valign="top"><strong><a href="https://www.joinef.com/companies/fello/">Entrepreneur First</a></strong></td>
          <td width="188" valign="top"><div align="right"><em>August 2020 - January 2021</em></div></td>
        </tr>
      </table>
      <table width="100%" border="0" style="margin-top: -3mm;">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="694"><p>One of 30 individuals selected out of 2000+ applicants at the world's leading talent incubator where multiple domain experts gathered together to build deep tech prototypes.</p>
          </td>
        </tr>
      </table>

      <table width="100%" border="0">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="500" valign="top"><strong>Tech Hackathons</strong></td>
          <td width="188" valign="top"><div align="right"><em>2016 - 2018</em></div></td>
        </tr>
      </table>
      <table width="100%" border="0" style="margin-top: -3mm;">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="694"><p>Have won several competitive regional and national hackathons across various tech enabled themes including Microsoft Build 2016, AngelHack 2017 and HackerEarth 2019.</p>
          </td>
        </tr>
      </table>

      <table width="100%" border="0">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="500" valign="top"><strong>Startup Awards</strong></td>
          <td width="188" valign="top"><div align="right"><em>2021 - 2023</em></div></td>
        </tr>
      </table>
      <table width="100%" border="0" style="margin-top: -3mm;">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="694"><p>Secured multiple awards during Fello which includes 'Best User Experience' at India DevOps Awards 2023, top 30 startups on the 2023 inc42 list and more</p>
          </td>
        </tr>
      </table>

      <!-- INTERNSHIPS -->
      <table width="100%" border="0">
        <tr>
          <td width="90" valign="top" class="left_heading">Internships<a name="internships" id="internships"></a></td>
          <td width="400"><strong>Indian Institute of Technology, Delhi</td>
          <td width="290"><div align="right"><em>April 2015 &ndash; June 2015</em></div></td>
        </tr>
      </table>
      <table width="100%" border="0" style="margin-top: -3mm;">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="694"><p>Worked on a Credit Card fraud detection project using Ensemble Neural Networks. Used multiple data balancing techniques over 240 datasets to build a comparison study b/w supervised and unsupervised results.</p></td>
        </tr>
      </table>

      <table width="100%" border="0">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="400"><strong>Sumaaroh<br /></strong></td>
          <td width="290"><div align="right"><em>May 2015 &ndash; July 2015</em></div></td>
        </tr>
      </table>
      <table width="100%" border="0" style="margin-top: -3mm;">
        <tr>
          <td width="90">&nbsp;</td>
          <td width="694"><p>Built a full stack event management web portal that aggregated data from multiple vendor sources and compiled the best suited service offering based on user budget. Used by 50k+ users. </p></td>
        </tr>
      </table>
   

   <!-- COURSEWORK -->
   <table width="100%" border="0">
    <tr>
      <td width="90" valign="top" class="left_heading">Key Skills<a name="key_skills" id="key_skills"></a></td>
      <td width="694"><strong>System Architecture</strong><br />
          AWS: ECS, EKS, Lambda, RDS, Elasticache, EventBridge, Step Functions, SQS, SNS, S3, Rekognition, and others;<br />
          GCP: Cloud Run, Cloud Tasks, Functions, Pub/Sub, Firebase, Vertex AI<br />
          General: CI/CD, Telemetry, SysOps, DevOps, AdminOps<br />
      </td>
    </tr>
  </table>
  <table width="100%" border="0">
    <tr>
      <td width="90">&nbsp;</td>
      <td width="694"><strong>Application Programming</strong><br />
        Platforms/Frameworks: Node.js-Express,Next,Fastify | Flutter
        Languages: TypeScript, Javascript, Dart, Python
    </td>
    </tr>
  </table>
  <table width="100%" border="0">
    <tr>
      <td width="90">&nbsp;</td>
      <td width="694"><strong>Database Design</strong><br />
        PostgreSQL, MongoDB, DynamoDB, Redis, Firestore, ClickHouse, SQL, BigQuery
    </td>
    </tr>
  </table>
  <table width="100%" border="0">
    <tr>
      <td width="90">&nbsp;</td>
      <td width="694"><strong>General</strong><br />
        Hiring, Product Management, Team/Stakeholder Management, Financial Operations, Risk and Compliance
    </td>
    </tr>
  </table>

  <!-- EDUCATION -->
  <table width="100%" border="0">
    <tr>
      <td width="90" valign="top" class="left_heading"><p>Education<a name="education" id="education"></a></p></td>
      <td width="400" valign="top">
        <p><strong><a href="https://manipal.edu">Manipal University</a></strong>
          <br />BS Computer Science</p>
      </td>
      <td width="290" valign="top"><div align="right">
        <p><em>December 2017</em><br />4.2 GPA</p>
      </div></td>
    </tr>
  </table>

    </td>
  </tr>
</table>
</div>
</body>
</html>
