{{ define "main" }}

<section class="section-sm pb-5">
  <div class="container">
      <!-- {{ with .Site.GetPage "/about" }} -->
    <div class="row pb-3 border-bottom">
      <div class="col-lg-12 mb-5 mb-lg-0">
        <div class="row">
        <div class='col-md-2 mb-4'>
          <img src="{{ .Params.Image | absURL }}" alt=""
        class="img-fluid author-thumb-sm d-block mx-auto rounded-circle">
        </div>
        <div class='col-md-6 mb-4'>
          <b>Welcome!</b>
          <p>I am the cofounder and CTO of <a target="_blank" href="https://usethirdchair.com">Third Chair</a>, a Y Combinator backed startup building agents for in-house legal teams. Previously I cofounded <a target="_blank" href="https://fello.in">Fello</a>, also backed by YC, and scaled it to over a million users. I'm passionate about startups and have been associated with other programs like Entrepreneur First and ODF. I live in Bangalore and usually spend my free time exploring options trading or building my ideas.</p>
        </div>
        <div class='col-md-4 mb-4 border-left'>
          <b>Get In Touch</b>
          <p>You can reach me <a href="https://twitter.com/atShourya" target="'_blank" onclick="gtag('event', 'link_click', { 'event_category': 'Link Clicks', 'event_label': 'twitter' });">@atShourya</a> on Twitter or <a href="mailto://mail@shourya.io">mail@shourya.io</a> if you prefer email. Cold messages sent or received have often turned out to be a welcome surprise in building partnerships or making friends!</p>
        </div>
        </div>
      </div>
      <!-- {{ end }} -->
    </div>
  </div>
</section>
<section class="section pb-0 py-0 px-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 mb-5 mb-lg-0">
        <div class="row">
          {{ $paginator := .Paginate (where .Site.RegularPages "Type" "featured") }}
          {{ range $paginator.Pages }}
          <a href="{{ .Permalink }}">
            <article>
              <div class="row mb-4">
                <div class="col-md-1"></div>
                <div class="col-md-4 mb-2">
                  {{ if .Params.Image }}
                  <img src="{{ .Params.Image | absURL }}" class="card-img-top " alt="{{ .Title | markdownify }}">
                  {{ end }}
                </div>
                <div class="col-md-7 mb-2">
                  {{ range .Params.Categories }}
                    <p class="text-primary mb-2">{{ . | title | humanize }}</p>
                          {{ end }}
                    <p class="h5 mb-0">{{ .Title | markdownify }}</p><p class="card-text">{{ .Params.subtitle }}</p> 
                    <p class="post-meta">{{ .PublishDate.Format "02 January 2006" }}</p>     
                  <!-- <div class="post-meta">
                    <span class="border-primary"></span>
                    <span>{{ .PublishDate.Format "02 January 2006" }}</span>
                  </div> -->
                </div>
              </div>
            </article>
          </a>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>


{{ end }}